.view-ul {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 10px solid black
}

.view-ul li {
  border: 3px solid black;
  width: 23.8%;
  
}

.Red {
  background: red;
  text-align: center;
  color: black;
}

.Orange {
  background: orange;
}

.Yellow {
  background: yellow;
}

.Green {
  background: green;
}

.Blue {
  background: blue;
}

.Indigo {
  background: indigo;
}

.Violet {
  background: violet;
}
