.view-ul {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 10px solid black
}

.view-col {
  border: 3px solid red;
  width: 23.8%;
  
}

/* .view-row-0 {
  width: 500px;
  height: 100px;
  border: 3px solid red
} */